.btn-approve {
    padding: 3px 10px;
    font-size: 12px;
    margin-right: 5px;
}

.btn-decline {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 5px;
}
.btn-edit {
    padding: 3px 10px;
    font-size: 12px;
    margin-right: 5px;
}

.btn-delete {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 5px;
}